<p id="notice"><%= notice %></p>

<h2 class="text-center">Répertoire de freelance</h2>
<h4 class="text-center"><%= @providers.length %> freelances dans la base de donnée </h4>

    <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Catégorie</th>
                  <th>Expertise</th>
                  <th>Prénom</th>
                  <th>Nom</th>
                  <th>Email</th>
                  <th>Téléphone</th>
                  <th>Prix</th>
                  <th>Note</th>
                </tr>
              </thead>
              <tbody>
                  <% @providers.each do |provider| %>
                  <tr>
                    <th><%= provider.category %></th>
                     <th><%= provider.expertise %></th>
                    <th><%= link_to provider.first_name, provider_path(provider) %></th>
                    <th><%= link_to provider.last_name, provider_path(provider)  %></th>
                    <th><%= provider.email %></th>
                    <th><%= provider.phone %></th>
                    <th><%= provider.price %></th>
                    <th><%= provider.rating %></th>
                  </tr>
                  <% end %>
              </tbody>
            </table>
          </div>
<div class="container">
  <p class="text-center">Dernière maj : <%= @last_db_update %></p>
</div>

